<section class="hero is-dark is-fullheight is-justify-content-flex-start">
  {{#each posts as |post| }}
  <div class="box m-5">
    <h2>
      <a class="subtitle has-text-info" href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>{{post.post_text}}</p>
    <p class="pt-5">Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
  {{/each}}
</section>