<section class="hero is-dark is-fullheight is-justify-content-flex-start">
    <div class="box m-5">
        <h2 class="subtitle has-text-dark"><b>Post</b></h2>
        <form>
            <input class="input mb-5" type="text" id="post-title" placeholder="title">
            <textarea class="input mb-5" type="text" id="post-content" placeholder="Add a post"></textarea>
            <button class="button is-normal is-responsive is-info" id="new-post-btn">Post</button>
        </form>
    </div>
    
    {{#each posts as |post| }}
    <div class="box m-5">
        <h2>
            <a class="subtitle has-text-info" href="/post/{{post.id}}">{{post.title}}</a>
        </h2>
        <p>{{post.post_text}}</p>
        <div class="is-pulled-right">
            <a class="button is-normal is-responsive is-info is-outlined " id="edit-post" href="/dashboard/edit/{{id}}">Edit</a>
            <button class="button is-normal is-responsive is-info is-outlined delete-post" data-post_id="{{id}}">Delete</button>
        </div>
        <p class="pt-5">Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
    </div>
    {{/each}}
</section>


<script src="/js/new.js"></script>
<script src="/js/delete-post.js"></script>