<section class="hero is-dark is-fullheight is-justify-content-flex-start">
    <div class="box m-5">
        <h2>
            <a class="subtitle has-text-info" href="/post/{{id}}">{{title}}</a>
        </h2>
        <p>{{post_text}}</p>
        <p class="has-text-right">Posted by {{user.username}} on {{format_date date_created}}</p>
    </div>

    <div class="box m-5">
        <h2 class="subtitle has-text-dark"><b>Add a comment</b></h2>
        <form>
            <input class="input mb-5" type="text" id="comment-input" placeholder="comment">
            <button class="button is-info">Submit</button>
        </form>
    </div>

    {{#each comments as |comment| }}
    <div class="box m-5">
        <p>{{comment.comment_text}}</p>
        <p class="has-text-right">Commented by {{comment.user.username}} on {{format_date comment.date_created}}</p>
    </div>
    {{/each}}
</section>