<section class="hero is-dark is-fullheight is-justify-content-flex-start">
    <div class="box m-5">
        <h2>
            <a class="subtitle has-text-info" href="/post/{{id}}">{{title}}</a>
        </h2>
        <p>{{post_text}}</p>
        <p class="has-text-right">Posted by {{user.username}} on {{format_date date_created}}</p>
    </div>

    <div class="box m-5">
        <h2 class="subtitle has-text-dark"><b>Comment</b></h2>
        <form>
            <input class="input mb-5" type="text" id="comment-input" placeholder="Add a comment" data-post_id={{id}}>
            {{#if logged_in}}
            <button class="button is-info" id="comment-btn">Comment</button>
            {{else}}
            <a class="button is-info" href="/login">Comment</a>
            {{/if}}
        </form>
    </div>

    {{#each comments as |comment| }}
    <div class="box m-5">
        <p>{{comment.comment_text}}</p>
        <div class="is-pulled-right">
            <a class="button is-normal is-responsive is-info is-outlined" id="edit-comment" href="/api/comment/edit/{{id}}">Edit</a>
            <a class="button is-normal is-responsive is-info is-outlined delete-comment" href="/login" data-comment_id="{{id}}">Delete</a>
        </div>
        <p class="pt-5">Commented by {{comment.user.username}} on {{format_date comment.date_created}}</p>
    </div>
    {{/each}}
</section>

{{#if logged_in}}
<script src="/js/comment.js"></script>
<script src="/js/delete-comment.js"></script>
{{/if}}